---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view"> {{ page.author | default: site.author }}</p>

<div class="blockquote-wrapper">
  <div class="blockquote">
    <h1 style="font-size: 60px">
     I am learning how to <strike>show</strike> <span style="color:#ffffff">manage</span> my vulnerability because therein lies the most courage.
     </h1>
    <h4 style="font-size: 20px">-Cybersecurity Professional</h4>
  </div>
</div>

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<style>
  body {
  background-color: #292a2b;
 }

/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 50vh;
   padding: 0 0px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 800px;
    margin: 80px auto;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
    position: relative; /* for pseudos */
    color: #b5e853;
    font-size: 90px;
    font-weight: normal;
    line-height: 1;
}


/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }

}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}


.blockquote h4:first-letter {
  margin-left:-12px;
}
</style>
